@model RegistrationWebApp.Models.Hospitalization

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Hospitalization</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalizationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HospitalizationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalizationGoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HospitalizationGoal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancelReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancelReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalizationRoom)
        </dt>
        <dt class = "col-sm-2">
            Пациент
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalCard.MedicalCardId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HospitalizationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
