@model RegistrationWebApp.Models.Patient

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Информация о пациенте</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        @if (Model.Photo is not null)
        {
            <dd class="col-sm-10">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Photo)" alt="image" style="max-width:20%" />
            </dd>
        }
        
        <dt class = "col-sm-2">
            Имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportIssuedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportIssuedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsurancyPolicy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsurancyPolicy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsurancyPolicyCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsurancyPolicyCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsurancyPolicyEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsurancyPolicyEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMale)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.IsMale)
            {
                <label class="col-form-label">мужской</label>
            }
            else
            {
                <label class="col-form-label">женский</label>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPlace)
        </dd>
    </dl>
    @if (Model.Qrcode is not null)
    {
        <dd class="col-sm-10">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Qrcode)" alt="image" />
        </dd>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MedicalCardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
